body
{ background-image: url(../Multimedia/ZZ/bg4.jpg); }

.tema
{ font-size: 50px; font-weight: bold; padding-left: 40px; background-color: #c7ecee; border-radius: 5px; }

.tema a
{ color: #686de0; text-decoration: none; }

nav
{ background-color: #686de0; display: flex; justify-content: space-between; align-items: center; padding:0 40px 0 0; height: 50px; border-radius: 5px; margin-bottom: 15px;}

.menu
{ display: flex; }

.menu li a
{ padding: 20px 30px; font-size: 21px; }

nav .menu li a
{ color: #000; text-decoration: none; font-weight: 680; }

nav .menu li
{ list-style: none; padding: 10px 0; }

nav .menu li:hover
{ background-color: #30336b; height: 25px; padding-bottom: 9px;}

ul li.active a
{ background-color: #30336b; padding: 10px 30px; }

.container
{ width: 840px; height: 640px; background-color: #7c7fe4; font-family: Arial, Helvetica, sans-serif; padding-left: 20px; padding-right: 20px; padding-top: 8px; border-radius: 7px; color: #fff; margin: auto; }

.container div
{ font-size: 30px; font-weight: 550; padding-top: 13px; padding-bottom: 13px; color: #c7ecee; background-color:  #686de0; border-radius: 5px; text-align: center; margin-bottom: 30px; }

.grid
{ display: grid; grid-template-columns: repeat(3,1fr); margin: 10px 20px 10px 20px; align-items: center; grid-gap: 30px; }

.grid article
{ border-radius: 10px; text-align: center; background: #a29bfe; height: 37px; width: 220px; padding-top: 18px; margin-left: 20px; }

.grid article a
{ text-decoration: none; font-size: 20px; color: #000; }

.grid article a:hover 
{ text-decoration:underline; }

/* #7772bb */